*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0.7)),
    url('../images/photo-1507842217343-583bb7270b66.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-title{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.form,
.error-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.error-message{
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    top: 70%;
    transition:opacity .2s;
    color: red;
}
.active{
    opacity: 1;
    visibility: visible;
}
.email-input,
.password-input{
    display: block;
    width: 300px;
    height:50px;
    outline: none;
}
.email-input{
    margin-bottom: 20px;
}
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.login{
    width: 80px;
    height: 30px;
}
@media only screen and (max-width:412px){
    .error-message{
        top: 80%;
    }
}